
<div class="page-header"><h1>Reset password</h1></div>

<%= form_for @user, url: password_reset_path, method: :patch do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit "Reset!", class: 'btn btn-primary' %>
<% end %>
