<p>This is a table of all registered users and some metrics on them.</p>
<table class="table table-md table-bordered border">
  <thead class="thead-light">
    <tr>
      <th class="text-center text-nowrap" scope="col">Email</th>
      <th class="col text-center text-nowrap" scope="col">Date Created</th>
      <th class="col text-center text-nowrap" scope="col">Email confirmed?</th>
      <th class="col text-center text-nowrap" scope="col">Login Count</th>
      <th class="col text-center text-nowrap" scope="col">Failed Login Count</th>
      <th class="col text-center text-nowrap" scope="col">Last Request At</th>
      <th class="col text-center text-nowrap" scope="col">Last Login At</th>
      <th class="col text-center text-nowrap" scope="col">Last Login IP</th>
    </tr>
  </thead>
  <tbody>
   <% @user.each do |user| %>
    <tr>
      <td class="text-center text-nowrap"><%= user.email %></td>
      <td class="col text-center text-nowrap"><%= user.created_at %></td>
      <td class="col text-center text-nowrap"><%= user.verified %></td>
      <td class="col text-center text-nowrap"><%= user.login_count %></td>
      <td class="col text-center text-nowrap"><%= user.failed_login_count %></td>
      <td class="col text-center text-nowrap"><%= user.last_request_at %></td>
      <td class="col text-center text-nowrap"><%= user.last_login_at %></td>
      <td class="col text-center text-nowrap"><%= user.last_login_ip %></td>
    </tr>
  <% end %>
  </tbody>
</table>
