<div class="jumbotron">
  <div class="container">
    <% if current_user %>
      <div class="page-header"><h1>Welcome back!</h1></div>

      <h2>Some info about you...</h2>

      <div class="well well-lg">
        <ul>
          <li>Login count: <%= current_user.login_count %></li>
          <li>Failed login count: <%= current_user.failed_login_count %></li>
          <li>Last request: <%= current_user.last_request_at %></li>
          <li>Current login at: <%= current_user.current_login_at %></li>
          <li>Last login at: <%= current_user.last_login_at %></li>
          <li>Current login IP: <%= current_user.current_login_ip %></li>
          <li>Last login IP: <%= current_user.last_login_ip %></li>
        </ul>
      </div>
    <% else %>
      <h1>Welcome!</h1>
      <p>Sign up to get started.</p>
      <p>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          Sign Up &raquo;
        <% end %>
      </p>
    <% end %>
    </div>
</div>
