<%= form_with(model: distillery, local: true) do |form| %>
  <% if distillery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(distillery.errors.count, "error") %> prohibited this distillery from being saved:</h2>

      <ul>
      <% distillery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :distillery %>
    <%= form.text_field :distillery %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.number_field :body %>
  </div>

  <div class="field">
    <%= form.label :sweetness %>
    <%= form.number_field :sweetness %>
  </div>

  <div class="field">
    <%= form.label :smoky %>
    <%= form.number_field :smoky %>
  </div>

  <div class="field">
    <%= form.label :medicinal %>
    <%= form.number_field :medicinal %>
  </div>

  <div class="field">
    <%= form.label :tobacco %>
    <%= form.number_field :tobacco %>
  </div>

  <div class="field">
    <%= form.label :honey %>
    <%= form.number_field :honey %>
  </div>

  <div class="field">
    <%= form.label :spicy %>
    <%= form.number_field :spicy %>
  </div>

  <div class="field">
    <%= form.label :winey %>
    <%= form.number_field :winey %>
  </div>

  <div class="field">
    <%= form.label :nutty %>
    <%= form.number_field :nutty %>
  </div>

  <div class="field">
    <%= form.label :malty %>
    <%= form.number_field :malty %>
  </div>

  <div class="field">
    <%= form.label :fruity %>
    <%= form.number_field :fruity %>
  </div>

  <div class="field">
    <%= form.label :floral %>
    <%= form.number_field :floral %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.number_field :postcode %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.number_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longtitude %>
    <%= form.number_field :longtitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
