<p id="notice"><%= notice %></p>
<style>
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  #map { height: 70%; width: 100%; margin: 0; padding: 0; overflow: hidden; }
 </style>
</head>
  <body><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
        <div id="map" ></div>
      </div>
              <div class="col-md" style="font-size: 20px;">Welcome to Whiskyinfo! Select a distillery on the map to the left and click the distillery name in the pop-up. You will be redirected to a page giving detailed information about each distillery's taste character and reviews and price information about whiskies this distillery produces. Have fun exploring the site! To add a new distillery, click here: <%= link_to 'New Distillery', new_distillery_path %>
</div>
      </div>
    <script>

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 57, lng: -5},
          zoom: 6,

        });

        var mapStyle = [{
            'featureType': 'all',
            'elementType': 'all',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'landscape',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
          }, {
            'featureType': 'water',
            'elementType': 'labels',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'water',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
          }];


        <% @distilleries.each do |s| %>
        var marker = new google.maps.Marker({
        position: {lat: <%= s.latitude %>, lng: <%= s.longtitude %>},
        map: map,
        icon: {
        url: "/pointer.png",
  		  scaledSize: new google.maps.Size(35, 45),
        animation:google.maps.Animation.DROP
      }
      }).addListener('click', function(){
          new google.maps.InfoWindow({
          content: '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h5>' + '<%= link_to s.distillery, "distilleries/#{s.id}}" %>' +'</h5>'+
          '</div>'
              }).open(map, this);
      });

      <% end %>
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXw9tFp-fQLKJtwb4F3-BVDx4XQZbj8vk&callback=initMap">
    </script>
