<p id="notice"><%= notice %></p><br>
<h3><%= @distillery.distillery%> distillery facts</h3>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
Highcharts.chart('2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '<%= @distillery.distillery %> distillery character'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Body',
            y: <%= @distillery.body.to_i%>
        }, {
            name: 'Sweetness',
            y: <%= @distillery.sweetness.to_i%>
        }, {
            name: 'Smokyness',
            y: <%= @distillery.smoky.to_i%>
        }, {
            name: 'Medicinal smokyness',
            y: <%= @distillery.medicinal.to_i%>
        }, {
            name: 'Tobacco smokyness',
            y: <%= @distillery.tobacco.to_i%>
        }, {
            name: 'Honey',
            y: <%= @distillery.honey.to_i%>
        }, {
            name: 'Spicyness',
            y: <%= @distillery.spicy.to_i%>
        }, {
            name: 'Winey',
            y: <%= @distillery.winey.to_i%>
        }, {
            name: 'Nutty',
            y: <%= @distillery.nutty.to_i%>
        }, {
            name: 'Malty',
            y: <%= @distillery.malty.to_i%>
        }, {
            name: 'Fruity',
            y: <%= @distillery.fruity.to_i%>
        }, {
            name: 'Floral',
            y: <%= @distillery.floral.to_i%>
        }]
    }]
});
</script>
<p>
  <strong>Postcode:</strong>
  <%= @distillery.postcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @distillery.latitude %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @distillery.longtitude %>
</p>
<br>
<h3><%= @distillery.distillery%> whiskies:</h3>
<div class="row">
<% @distillery_reviews.each do |s| %>
  <div class="col-sm-4">
      <div class="card box-shadow">
          <div class="card-body">
            <h5 class="card-title"> <%= s[2]%> </h5>
            <p class="card-text"><b>Category:</b> <%= s[3]%><br>
              <b>Price:</b> <%= s[5] %> USD<br>
              <b>Review points:</b> <%= s[4] %><br>
              <b>Review:</b> <%= s[6] %><br>
          </div>
          <div class="card-footer">
            <small class="text-muted">Distillery: <%= s[1] %></small>
          </div>
      </div>
    </div>
<% end %>
</div><br>
