<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<p id="notice"><%= notice %></p>
<h1>Reviews</h1>
<br>
<div class="row pagination">
  <table id="reviews" class="table table-md table-bordered border"> <!--class="table table-md table-bordered border">-->
    <thead class="thead-light">
        <tr>
            <th class="text-center text-nowrap">Distillery</th>
            <th class="text-center text-nowrap">Name</th>
            <th class="text-center text-nowrap">Review Points</th>
            <th class="text-center text-nowrap">Price</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td class="text-center text-nowrap page-item"><%= review.distillery %></td>
			      <td class="text-center text-nowrap page-item"><%= review.name %></td>
            <td class="text-center text-nowrap page-item"><%= review.reviewpoints %></td>
            <td class="text-center text-nowrap page-item"><%= review.price %><br><%= link_to 'Show', review %></td>
            <td class="page-item"><%= review.description %></td>
          </tr>
        <% end %>

    </tbody>
    </table>
</div>
<br><br><br>
<script>
$(document).ready( function () {
    $('#reviews').DataTable( {
      stateSave: true
    });

} );
</script>

<br>

<%= link_to 'New Review', new_review_path %>
