<p id="notice"><%= notice %></p>
<a href="/reviews" class="btn btn-primary" role="button">Back to reviews</a>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
Highcharts.chart('1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Distillery character for <%= raw @distillery_details[1] %> whisky'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Body',
            y: <%= raw @distillery_details[2].to_i%>
        }, {
            name: 'Sweetness',
            y: <%= raw @distillery_details[3].to_i%>
        }, {
            name: 'Smokyness',
            y: <%= raw @distillery_details[4].to_i%>
        }, {
            name: 'Medicinal smokyness',
            y: <%= raw @distillery_details[5].to_i%>
        }, {
            name: 'Tobacco smokyness',
            y: <%= raw @distillery_details[6].to_i%>
        }, {
            name: 'Honey',
            y: <%= raw @distillery_details[7].to_i%>
        }, {
            name: 'Spicyness',
            y: <%= raw @distillery_details[8].to_i%>
        }, {
            name: 'Winey',
            y: <%= raw @distillery_details[9].to_i%>
        }, {
            name: 'Nutty',
            y: <%= raw @distillery_details[10].to_i%>
        }, {
            name: 'Malty',
            y: <%= raw @distillery_details[11].to_i%>
        }, {
            name: 'Fruity',
            y: <%= raw @distillery_details[12].to_i%>
        }, {
            name: 'Floral',
            y: <%= raw @distillery_details[13].to_i%>
        }]
    }]
});
</script>
<p>
  <strong>Distillery:</strong>
  <%= @review.distillery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @review.category %>
</p>

<p>
  <strong>Reviewpoints:</strong>
  <%= @review.reviewpoints %>
</p>

<p>
  <strong>Price:</strong>
  <%= @review.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
