<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script scr="//netdna.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Whiskyinfo', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/reviews/">Whisky Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Distillery Map</a>
      </li>
      <% if current_user %>
          <li class="nav-item"><a class="nav-link"<%= link_to 'Products', products_path %></a></li>
          <li class ="nav-item"><a class="nav-link" href="/pages/index"><b>Logged in as: <%= current_user.email %></b></a></li>
          <li class ="nav-item"><a class="nav-link"<%= link_to 'Sign Out', sign_out_path, method: :delete %></a></li>
          <% if current_user.email == "admin@admin.admin"%>
              <li class="nav-item">
                  <a class="nav-link" href="/users/index">Admin Dashboard</a>
                  </li>
          <% end %>
      <% else %>
          <li class ="nav-item"><a class="nav-link"<%= link_to 'Sign In', sign_in_path %></a></li>
          <li class ="nav-item"><a class="nav-link" href="/pages/index">Sign Up</a></li>
      <% end %>
    </ul>
  </div>
</nav>
